DATABASE_URL=postgresql://mailmax:mailmax_dev_pass@localhost:5432/mailmax
REDIS_URL=redis://localhost:6379
JWT_SECRET=mude_isso_em_producao_min_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=sua_key_aqui
AWS_SECRET_ACCESS_KEY=seu_secret_aqui
SES_FROM_EMAIL=noreply@seudominio.com
APP_URL=http://localhost:3000
API_URL=http://localhost:3001
TRACKING_URL=http://localhost:3001
NODE_ENV=development
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
MAX_DAILY_SENDS_FREE=500
MAX_DAILY_SENDS_STARTER=10000
MAX_DAILY_SENDS_PRO=100000
